<appSettings>
  <!--上传文件相关-->
  <add key="LimitedFileSize" value="10000000"/><!--File Upload Limit Size(单位K) 10M-->
  <add key="UploadFileBasePath" value="E:\Workspace\ZJ.APP.MySQL\ZJ.MVC5.Platform\uploadImage\" /><!--必须有\结尾-->
  <add key="MovieImageDirectory" value="E:\Workspace\ZJ.APP.MySQL\ZJ.MVC5.Platform\ImageBase\Movie\" />
  <add key="QuestionImageDirectory" value="/ImageBase/Question/" />

  <add key="EnableCache" value="false"/>
  <add key="CacheExtendedFormatTime" value="* * * * *"/> <!--在自定义CacheManager.cs中被使用-->

  <!--允许上传的附件类型-->
  <add key="AllowUpLoadFile" value="jpg,jpeg,gif,png,bmp,doc,docx,pdf,zip,rar" />
</appSettings>
