<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<alias alias="IMyTest" type=", CCMS.Contract"/>
    <alias alias="MyTest" type="CCMS.BLL.MyTest, CCMS.BLL"/>-->
   <container>
     <!--<register type="CCMS.Contract.IOtherContract, CCMS.Contract" mapTo="CCMS.BLL.DictionaryBLL, CCMS.BLL" />-->
     <!--<register type="CCMS.Contract.IAUTHContract, CCMS.Contract" mapTo="CCMS.BLL.AuthBLL, CCMS.BLL" />-->
   </container>
  </unity>

</configuration>
